html,
body,
#root {
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container-cs {
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.header-cs {
	padding: 30px 80px;
}

.body-cs {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 13%;
}
.body-cs p {
	font-size: 30px;
}

.body-cs h3 {
	font-size: 70px;
}
